.timer-link {
  position: absolute;
  top: 20px;
  left: 20px;
}
.timer-link:hover {
  color: tomato;
  text-decoration: underline;
}
.timer-title {
  margin: 50px 0 50px 156px;
}
.accent {
  color: tomato;
  font-weight: 700;
  /* text-decoration: underline; */
}
#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 24px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #fff;
  margin-left: 156px;
  margin-bottom: 32px;
  margin-right: 8px;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:focus {
  outline: none;
  border: 1px solid #4e75ff;
  color: #000;
}
#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
}
.timer {
  width: 346px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 156px;
}
.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
[data-start] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
[data-start]:hover {
  background-color: #6c8cff;
}
[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
